.h1 {
    color: yellow;
}
.li1 {
    color: green;
}

.li2 {
    color:red;
}
.li3 {
    color:darkslateblue;
}
.li4 {
    color:aqua;
}   
.li5 {
    color:firebrick;
}
.li6 {
    color:saddlebrown;
}
.li7 {
    color:darkorange;
}
.li8 {
    color:white;
}
.li9 {
    color:orange;
}
.li10 {
    color:dimgray;
}
.li11 {
    color:darkolivegreen;
}