* {
    /* border: 1px solid red; */
}

.p2 {
    color:#0b0b7b;
}
.p3 {
    color:#09aaaa
}
.p4 {
    color:floralwhite
}
.p6 {   
    color:rgb(80, 4, 19)
}
.p7 {
    color:rgb(0, 2, 100)
}

.p9 {
    color:rgb(81, 67, 158)
}
.p10 {
    color:orange
}
.p11 {
    color:yellow
}
.p12 {
    color:purple
}